<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Graph Page</title>
        <link rel="stylesheet" href="/static/css/style.css"/>
    </head>
    <body>
        <div class="form" name="form" method="POST">
                <form action="/task1">
                    <p>Enter Task:</p>
                    <p><input type = "number" name="task" color="#de3163" autofocus/></p>
                    <p><input type="submit"></p>
                </form>
        </div>
    </body>
</html>