<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Graph Page</title>
        <link rel="stylesheet" href="/static/css/style.css"/>
    </head>
    <body>
        <form action="/task3" method="POST">
            <p>Enter Starting X-Coordinate</p>
            <p><input type="number" name="x" autofocus></p>
            <p>Enter Starting Y-Coordinate</p>
            <p><input type="number" name="y"></p>
            <p>Enter Magnitude of the Starting Velocity (m/s)</p>
            <p><input type="number" name="v"></p>
            <p>Enter X-Coordinate of Point you want to go through:</p>
            <p><input type="number" name="xf"></p>
            <p>Enter Y-Coordinate of Point you want to go through:</p>
            <p><input type="number" name="yf"></p>
            <p><input type="submit"></p>
        </form>
        {% if image_path %}
        <div name="Image">
            <img src="{{ image_path }}" alt="current_graph" style="height: 60%; width: 60%; align-content: right;">
        </div>
        {% endif %}
    </body>